
/* STYLE GENERAL */

@font-face{
    font-family: "Montserrat Thin" ;
    src: url(../fonts/Montserrat-Thin.woff)
    format('woff');
    
    font-family: "Montserrat Light" ;
    src: url(../fonts/Montserrat-Light.woff)
    format('woff');

    font-family: "Montserrat Regular" ;
    src: url(../fonts/Montserrat-Regular.woff)
    format('woff');

    font-family: "Montserrat Bold" ;
    src: url(../fonts/Montserrat-Bold.woff)
    format('woff');
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior:smooth;
}

body{
    
    font-family:"Montserrat Regular", sans-serif;
}

a{
    text-decoration:none;
    color:inherit;
}

main{
    overflow: hidden;
}


/* PAGE D'ACCUEIL */
/* ----------------- EN-TETE > CONTENEUR ------------------ */
header {
    background-color:#ffffff;
    color:#000000;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:120px;
    box-shadow: 0pX 0px 8px rgba(2, 148, 51, 0.7);

    display:flex;
    justify-content: space-between;
    align-items: center;

    z-index:1000;
}

/* LOGO */
.logo_container{
    margin-left:20px;
}
.logo{
    height:100px;}


/* NOM DU SITE ET BOUTON DU MENU */
.menu_container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.site_name{
    font-size:2rem;
    font-family:"Comfortaa Bold", Montserrat;
}

.menu_btn{
    border:none;
    outline:none;
    background:transparent;
    margin-left:10px;
    cursor:pointer;
}
.menu_icon{
    height:28px;
}

/* LIGNE VERTE */
.green_line{
    height:3px;
    width:98%;
    background-color: #029433;
    margin-top: 3px;
    margin-bottom: 5px;
}

/* BARRE DE NAVIGATION */
.nav_items{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.menu_item{
    display:flex;
    align-items: center;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.9);
    height:40px;
    background-color: #029433;
    border: 3px solid #059b25;
    padding:10px 20px;
    font-size:1.8rem;
    margin-right:15px;
    cursor:pointer;
    transition: background-color 0.4s;
}

.menu_item:nth-child(1){
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.menu_item:nth-last-child(1){
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.menu_item:hover{
    background-color: rgb(250, 246, 175);
    color:#029433;
    border-top:3px solid rgb(250, 246, 175);
    border-right:3px solid rgb(250, 246, 175);
    border-left:3px solid rgb(250, 246, 175);
}

.menu_item.active{
    color:#059b25;
    background-color:#fff;
    border: 3px solid #059b25;
    font-size: 1.85rem;
    font-family:"Montserrat Light";
}


/* CONTENEUR DU NOM DE SITE, 
DE LA LIGNE VERTE ET DE LA BARRE DE NAVIGATION */
.navigation_bar_container{
    display:flex;
    justify-content:flex-end;
}

.after_logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:16px;
}

/*---------- FIN DE L'ENTETE------------------------------*/

/*-----------CONTENU PRINCIPALE---------------------------*/

.transparent_white_line1, .transparent_white_line2{
    position:absolute;
    height:40px;
    width:100%;
    background-color:rgba(255, 255, 255, 0.5);
}

.transparent_white_line1{
    top:120px;
}

.transparent_white_line2{
    bottom:0px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.prev_btn, .next_btn{
    position:absolute;
    top:50%;
    transform:translate(-50%);
    width:5rem;
    height:5rem;
    border-radius:50%;
    border:none;
    outline:none;
    background-color: rgba(255, 255, 255, 0.6);
    background-repeat:no-repeat;
    background-position: center;
    transition:0.6s all ease;
    z-index:50;

    cursor:pointer;
}

.prev_btn:hover, .next_btn:hover{
    background-color: rgb(255,255,255);
}

.prev_btn {
    left:10rem;
    background-image:url(../icons/cil-chevron-circle-left-alt.png);
}

.next_btn {
    right:10rem;
    background-image:url(../icons/cil-chevron-circle-right-alt.png);
}

/*STYLE DES THEMES*/

.themes_container{
    height:100vh;
    width:100%;
    overflow: hidden;
 }

.themes{
    width:500%;
    height:100%;
    overflow:hidden;

    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.theme{
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    width:20%;
    height:100%;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    overflow: hidden;

    transition:0.8s ease-in-out;
}

.theme *{
    z-index:1;
}

/* Arrière plans des thèmes*/

.theme.zero{
    background-image: url(../images/r1.jpg);
}

.theme.first{
    background-image:url(../images/theme1.jpg);
}

.theme.second{
    background-image:url(../images/theme2.jpg);
}

.theme.third{
    background-image:url(../images/theme3.jpg);
}

.theme.fourth{
    background-image:url(../images/theme4.jpg);
}

/*Contenu des thèmes*/
.church_name{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    color:rgba(255, 255, 255, 0.9);
    font-size: 8rem;
}

.church_name span{
    color:rgb(250, 246, 175);
}

.theme.first h2{
    background-color:#fff;
    color:#058b6a;
    border-radius:8px;
    font-size:2.5rem;
    padding:10px 50px;
}
.theme.first h3{
    color:#fff;
    border-radius:5px;
    font-family: "Montserrat Light";
    font-size:6.5rem;
    padding:10px;
    text-align:center;
}

.develop_btn{
    display:block;
    background-color:#fff;
    color:#058b6a;
    border:2px solid transparent;
    border-radius:7px;
    padding: 10px 28px;
    font-family:"Montserrat Light";
    font-size:1.8rem;
    font-weight: bold;
    overflow:hidden;
    cursor:pointer;
    margin-top:12px;
    
    transition:0.4s all ease;
    z-index:10;
}

.develop_btn:hover{
    background-color:#058b6a;
    
    border:2px solid #fff;
    color:#f1f1f1;
}

.theme.second h2{
    font-size:7rem;
    text-align:center;
    color:#fff;
    margin:20px 0;
}

.theme.third h2{
    font-size:7rem;
    text-align:center;
    color:#000000;
    margin:0px 20px 0px;
}

.verset{
    font-family: "Montserrat Light", sans-serif;
    font-size: 3rem;
    color:#fff;
}

.theme.fourth h2{
    font-size:7rem;
    text-align:center;
    color:#ffffff;
    margin:0px 20px 0px;
}


.label_slide{
    width:1.5rem;
    height:1.5rem;
    border-radius:50%;
    margin:10px;
    border:transparent;
    outline:none;
    background-color:#fff;
    cursor:pointer;
    transition:1s;
}

.label_slide:hover{
    background-color:rgb(2, 148, 51);
}

.radio_slide{
    display:none;
}

#radio0:checked ~ .theme.zero{
    margin-left:0%;
 }

#radio1:checked ~ .theme.zero{
    margin-left:-20%;
 }

#radio2:checked ~ .theme.zero{
    margin-left:-40%;
 }
#radio3:checked ~ .theme.zero{
    margin-left:-60%;
 }
#radio4:checked ~ .theme.zero{
    margin-left:-80%;
 }

.label_slide.r0{
    background-color: rgb(2, 148, 51);
 }
/* Fin de la stylisation des thèmes*/


/*Stylisation des Guides*/

.second_content .guides_title{
    background-color:rgba(2, 148, 51);
    color:#FFF;
    font-family:"Montserrat Thin", "sans serif";
    font-size:6rem;
    text-align:center;
    padding:25px 0px;
    margin-bottom: 15px;
}

.guides{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.guides div{
    width: 250px;
    height:350px;
    border-radius:20px;
    margin:15px;
    background-color:#ebebeb;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:all 0.6s ease;
}

.guides div:hover{
    border-radius:30px;
}

.guides h3{
    color:#FFF;
    padding:15px;
    font-size: 3rem;
    font-weight:200;
}

.guid_1{
    background-image:url(../images/priere_web.jpg)
}

.guid_2{
    background-image:url(../images/bible.jpg)
}

.guid_3{
    background-image:url(../images/we_must_pray.jpg)
}

.guid_4{
    background-image:url(../images/guide_par_dieu.jpg)
}
/* Fin de la stylisation des guides*/


/* STYLISATION DU SIDE MENU */
.side_menu{
    position:fixed;
    top:34px;
    right:5px;
    width:330px;
    height:94%;
    overflow: auto;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.5);
    border-radius:15px;
    padding:15px;
    z-index:1500;
    display:none;

    transition: all 1s;
}

.close_btn{
    width:30px;
    height:30px;
    border-radius:50%;
    border:none;
    outline:none;
    background-color:rgb(255, 0, 0);
    background-image:url(../icons/icon_close.svg);
    background-repeat:no-repeat;
    background-position:center;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    cursor:pointer; 
}

.close_btn:hover{
    background-color:rgb(200, 0, 0);
}

.top_of_menu{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
}

.input_control{
    padding:8px 20px;
    margin-left:5px;
    border-radius:20px;
    background-color:rgb(2, 148, 51);
}

.input_control:hover{
    background:rgba(3, 136, 47,0.8);
}

.input_control:focus{
    border:2px solid rgb(2, 1148, 51);
    background:rgba(2, 148, 51, 0.8);
}

.input_control input{
    color:#fff;
    background:transparent;
    outline:none;
    border:none;
    width:150px;
    font-size:1.4rem; 
}

.input_control input::placeholder{
    color:#e1e1e1;
}

.input_control input:hover::placeholder{
    color:#fff;
}

.input_control img{
    position:relative;
    top:2px;
}

.menu_links a{
    display:block;
    margin:12px;
    font-weight:bold;
    font-size:1.7rem;
    transition: all 0.4s ease;
}

.blank_space{
    height: 16px;
}

.menu_links a:hover{
    color:rgb(2, 148, 51);
    background-color:rgba(200,200,200,0.1);
    border-left:4px solid rgb(2, 148, 51);
    padding-left:3px;
    border-radius:4px;
}

.gray_line{
    width:60%;
    height:1px;
    background-color:gray;
    position: absolute;
    left:0px;    
}

.small_guides_title{
    color:grey;
    font-size:1.5rem;
    font-family:"Montserrat Light", sans-serif;
    text-align:center;
    display:block;
    margin-top:30px;
    margin-bottom:10px;
}

.small_guides{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.small_guides div{
    width: 90px;
    height:140px;
    border-radius:10px;
    margin:8px 0px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:all 0.5s ease;
}

.small_guides div:hover{
    border-radius:15px;
}

.small_guides h4{
    color:#fff;
    font-size:1.4rem;
    font-family:"Montserrat Thin", sans-serif;
    padding:5px;
}

.select_control{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#FFF;
    text-align:center;
    margin:10px 0 30px 0;
    padding:3px 20px;
    height:40px;
    background-color: rgb(2, 148, 51);
    border-radius:20px;
    font-family:"Montserrat Light", sans-serif;
}

.select_control p{
    font-size:1.7rem;
}

.languages{
    background:transparent;
    color:#fff;
    border:none;
    outline:none;
    font-family:"Montserrat Light", sans-serif;
    font-size: 1.7rem;
    margin-left: 5px;
    cursor:pointer; 
}

.languages option{
    width:160px;
    background-color:rgba(2, 148, 51, 0.3);
    color:rgb(2, 148, 51);
    border-radius:6px;
    padding:3px;
    outline: none;
    border:none;
}

.menu_links.other_menus a{
    font-weight: normal;
    color:rgb(116, 114, 114);
    font-size:1.7rem;
}

.menu_links.other_menus a:hover{
    color:rgb(0,0,0)
}

.follow_us_to{
    color:grey;
    font-size:1.5rem;
    font-family:"Montserrat Light", sans-serif;
    text-align:center;
    display:block;
    margin-top:40px;
    margin-bottom:3px;
}

.small_grey_line{
    width:25%;
    height:2px;
    background-color:grey;
    align-self:center;
    margin-bottom:12px;
}

.social_menu{
    display:flex;
    justify-content: center;
    align-items: center;
}

.social_menu svg{
    border:2px solid #029433;
    border-radius:50%;
    width:35px;
    height:35px;
    padding:3px;
    margin:3px;
    fill:#029433;
    transition:0.6s all ease;
}

.menu_footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.icon.icon-youtube:hover{
    fill:#fff;
    background-color: rgb(255, 0, 0);
    border-color:transparent;
}

.icon.icon-twitter:hover{
    fill:#fff;
    background-color: rgb(0, 168, 219);
    border-color:transparent;
}

.icon.icon-facebook:hover{
    fill:#fff;
    background-color: rgb(0, 53, 97);
    border-color:transparent;
}

.icon.icon-instagram:hover{
    fill:#fff;
    background-image: linear-gradient(49.2deg,#f9ed32 10%,#ee2a7b 55%,#002aff);
    border:#fff; 
}

/* ------- FIN DU CORPS DE LA PAGE ------


/* -------- PIEDS DE PAGE ----*/
.real_footer{
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.real_footer p{
    padding:20px;
}

.church_contacts{
    
    background-color:rgb(2, 148, 51);
    color:#fff;
    font-size:1.6rem;
    font-family:sans-serif;
    text-align:center;
    margin-top:10px;
}

.church_contacts h5{
    color:#029433;
    background-color:rgb(255,255,255, 0.8);
    font-size:3rem;
    font-family: "Montserrat Thin";
}

.communities{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.communities div{
    background-color: rgba(2, 148, 51, 0.3);
    margin:1px;
    min-width:20%;
    padding: 20px;
    font-size:1.5rem;
    text-align: center;
    word-wrap: break-word;
}

.community h5{
    font-size:1.6rem;  
}

.community .chief{
    font-family:"Montserrat semibold";
}

.community .phone_number{
    font-size:1.4rem;
}

p.copy_right{
    color:grey;
    padding:5px;
    font-family:sans-serif;
    font-size:1.4rem;
    text-align: center;
}

/* PAGE 2 - MEDIAS ############################### */

.main_media_container{
    height: 100vh;
    margin-top:120px;
    background-color: #0099ff;

}

.up_media{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: flex-start;

    height:60%;
    background-image: url(../images/jacques_wedding_cover.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;

}
.up_media h2{
    font-size:5rem;
    margin:30px;
    color:rgb(255, 255, 255);
    font-family:"Montserrat Thin", sans-serif;
}

.up_media h2 span{
    font-family:"Montserrat Thin", sans-serif;
}

.up_media_container, .down_media{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin:0px 0px 0px 0px;
    
    width:100%;
    height:40vmin;
    overflow-x: auto;
}

.up_media_container img{
    width:260px;
    height:160px;
    border-radius:16px;
    margin:0 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.down_media figure{
    width:360px;
    height:240px;
    margin:20px 60px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    border-radius:20px;
}

.down_media figure img{
    width:360px;
    height: 240px;
    border-radius:20px;
}

.down_media figure figcaption{
    display:none;
    height:60px;
    width:260px;
    
    position:relative;
    top:-50px;
    left:180px;
   
    padding:10px;
    font-size:1.4rem;
    background-color: rgba(255, 255, 255, 0.8);
}

figcaption span{
    font-family:"Montserrat Light";
}

/* PAGE 3 - CALENDRIER ############################### */
 .region.goma{
     margin-top:140px;
 }
.region{   
    background-image: url(../images/sky.jpeg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:auto;

    margin-bottom: 20px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
}

.color{
    height:100%;
}

.color.goma{
    background-color:rgba(139, 213, 248, 0.832);
}

.color.bangui{
    background-color:rgba(0, 81, 255, 0.596);
}

.color.cibitoke{
    background-color:rgba(255, 157, 9, 0.644);
}

.program{
    text-align:center;
    font-size:3rem;
    margin:30px 0 30px;
    background-color: transparent;
}

.program.bangui{
    color:#fff;
}

.cards_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    height:auto;
}

.card_wrapper{
    height: 302px;
    width: 240px;
    perspective: 1000px;
    perspective-origin: top;
    margin-bottom:20px;
}

.card_wrapper:not(nth:last-child){
    margin-left:20px;
}

.card_wrapper *{
    font-size:2rem;
    text-align:center;
    font-family:"Montserrat Light";
}

.card_wrapper:hover .card{
    transform: rotateY(180deg);
}

.card{
    height: 240px;
    width:240px;
    transform-style:preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.circle_front, .circle_back{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:240px;
    height:240px;
    background-color:rgba(255, 255, 255, 1);
    border-radius:50%;
    box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4);
    padding:8px;

    position:absolute;
    top:0px;
    backface-visibility: hidden;
    -webkit-backface-visibiity:hidden;
    -moz-backface-visibility: hidden;
}

.circle_back{
    background-color:rgb(2, 148, 51);
    color:#F1f1f1;
    transform: rotateY(180deg);
}

.day{
    background-color:rgb(2, 148, 51);
    color:#fff;
    margin-bottom:15px;
    width:240px;
    padding:10px;
    border-radius:30px;
    box-shadow:0px 0px 8px rgba(0,0,0,0.4);
}

.day.bangui{
    background-color:rgb(255, 174, 0);
    color:#000;
}

.hour{
    font-weight:400;
    border-bottom: 2px solid;
    padding:2px 12px;
}

.hour sup{
    font-size:1rem;
}

.activity{
    font-family:"Montserrat Light";
    font-size:2rem;
}


/* PAGE 4 - A PROPOS ############################### */
.about_us_content{
    margin-top:120px;
}

.who_we_are{
    padding-left:40px;
    font-size:6rem;
    font-family:"Montserrat Thin";
    color:#010101;
    /* background-color: #0099ff; */
}

section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding:40px 80px;
}

.text{
    margin:0 0px;
    width:70%;
}

section .text h2{
    font-family:"Montserrat", sans-serif;
    font-size:3rem;
}

section .text p{
    text-align: justify;
    font-size:2.5rem;
    font-family:"Montserrat Light";
    line-height: 1.5;
}

.text *{
    margin-bottom:16px;
}

.aside_box{
    height:400px;
    width:260px;
    background-color:#ff0a0a;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    background-color:#fff;
    padding:30px;
}

/*Section 0*/
.resume_section{
    /* background-color: #0099ff; */
}

.g_line{
    width:30%;
    height:6px;
    border-radius:3px;
    background-color: grey;
    position:relative;
    left:50%;
    transform: translate(-50%);
}
.g_line.n1{
    margin-bottom:30px;
} 

.g_line.n2{
    margin-top:30px;
} 
.aside_box.sec0{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.aside_box.sec0 a{
    font-size:2.5rem;
    color:grey;
    margin:10px 0;
    transition:0.2s;
}

.aside_box.sec0 a:hover{
    font-size:2.8rem;
    color:rgb(48, 41, 41); 
}

.etiquette{
    width:50px;
    height:80px;
    color:#f1f1f1;
    font-size: 3rem;
    text-align:center;
    padding-top:20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}


/*Section 1*/

.section_1{
    /* background-color: #d5fa90; */
}

.etiquette._1{
    background-color:rgb(2, 148, 51);
    position:relative;
    top:-60px;
    left:160px;
}

.orig{
    text-align: center;
    font-size:3rem;
    color:rgb(2, 148, 51);
    margin-top:40px;
}

/*Section 2*/

.section_2{
    /* background-color: #ffae00; */
}

.etiquette._2, .etiquette._4{
    position:relative;
    background-color:#ffae00;
    top:-60px;
    left:0px;
}

.visio{
    text-align: left;
    font-size:3rem;
    color:#ffae00;
    margin-top:40px;
}


/*Section 3*/

.section_3{
    /* background-color: #0030b3; */
}

.etiquette._3{
    position:relative;
    background-color:#ffae00;
    top:-60px;
    left:0px;
}

.missio{
    text-align: left;
    font-size:3rem;
    color:#0030b3;
    margin-top:40px;
}

.section_3 .text p, .section_3 .text h2{
    color:#010101;
}

.etiquette._3{
    background-color:#0030b3;
    position:relative;
    top:-60px;
    left:160px;
}

/*Section 4*/

.etiquette._4{
    background-color:#6f00ca;

}

.messa{
    text-align: left;
    font-size:3rem;
    color:#6f00ca;
    margin-top:40px;
}

.section_4 .text h2{
    /* color:#6f00ca; */
}


/* STYLISATION DES THEMES (UN FICHIER PAR THEME)*/

.developpement{
    height:auto;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    margin-top:120px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.theme_side{
    font-size: 2rem;
    height:50vh;
    width:1000px;
    color:#000;
    text-align: left;
    margin:40px;
    padding:30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    background-color:#fff;
    
    display: flex;
    align-items: center;
}

.developpement p{
    padding:0 60px 20px 60px;
    margin:40px 20px 20px 0;
    font-family: "Montserrat Light", sans-serif;
    font-size:2.5rem;
    line-height: 1.5;
    text-align:justify;
    color:#f1f1f1;
}

p.lien{
    font-weight:Bold;
    font-size:3rem;
    text-align:right;
}

.lien a{
    color:rgb(0, 81, 255);
}


.developpement.th1, .small_theme.th1{
    background-image:url(../images/theme1.jpg);
}
.developpement.th2, .small_theme.th2{
    background-image:url(../images/theme2.jpg);
}
.developpement.th3, .small_theme.th3{
    background-image:url(../images/theme3.jpg);
}
.developpement.th4, .small_theme.th4{
    background-image:url(../images/theme4.jpg);
}


/* PETITS THEMES*/
.small_themes{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin-top:120px;

    background-color: #90f8b3;
}

.small_theme{
    --largeur:240px;
    --hauteur:360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width:var(--largeur);
    height:var(--hauteur);
    padding:20px;
    margin:20px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto var(--hauteur);
}

.small_theme h1{
    color:#f1f1f1;
    text-align:center;
    font-size:2.5rem;
    margin-bottom:50px;
}

.small_theme a{
    font-size:1.8rem;
    color:rgba(255, 255, 255, 0.5);
    transition:0.5s;
}

.small_theme a:hover{
    font-weight:none;
    color:rgba(139, 213, 248, 1)
}

.gratitude{
    background-color: #90f8b3;
    font-size:3.2rem;
    text-align:center;
    padding:30px;
}

/*########################################################################
##########################################################################

--------------------- RSPONSIVE VERSION ---------------------------------
///////////////////////////////////////////////////////////////////////// 
##########################################################################*/


/* STYLE GENERAL */

@-ms-viewport {
    width: device-width;
}

@media all and (max-width : 414px){

    html{
        font-size:40%;
    }

    /* PAGE D'ACCUEIL */
    /* ----------------- EN-TETE > CONTENEUR ------------------ */
    header {
        background-color:rgb(255, 255, 255);
        color:#000000;
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:120px;
        border-bottom:5px solid rgb(2, 148, 51);
        box-shadow: unset;

        display:flex;
        justify-content: space-between;
        align-items: center;

        z-index:1000;
    }

    /* LOGO */
    .logo_container{
        margin-left:10px;
    }

    .logo{
        height:auto;
        width:60px;}


    /* NOM DU SITE ET BOUTON DU MENU */
    .menu_container{
        display:flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .site_name{
        font-size:2rem;
        text-align: center;
        margin-right:10px;
    }

    .menu_btn{
        margin-left:5px;
    }

    /* LIGNE VERTE */
    .green_line{
        width: 98%;
    }

    /* BARRE DE NAVIGATION */
    .menu_item{
        border: 2px solid #059b25;
        padding:5px 5px;
        /* width:60px; */
        height:25px;
        text-align:center;
        font-size:1.6rem;
        font-family:"Montserrat Light", sans-serif;
        transition: background-color 0.4s;
    }

    .menu_item:not(nth:last-child){
        margin-right:3px;
    }

    .menu_item:hover{
        font-size:1.5rem;
    }

    .menu_item.active{
        border: 2px solid #059b25;
        font-size:1.5rem;
    }

    /* CONTENEUR DU NOM DE SITE, 
    DE LA LIGNE VERTE ET DE LA BARRE DE NAVIGATION */
    .navigation_bar_container{
        display:flex;
        justify-content:flex-end;
    }

    .after_logo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left:10px;
    }

    /*---------- FIN DE L'ENTETE------------------------------*/

    /*-----------CONTENU PRINCIPALE---------------------------*/
    .themes_container{
        margin-top:80px;
        height:500px;
    }
    .transparent_white_line1, .transparent_white_line2{
           height:30px;
    }

    .transparent_white_line2{
        top:550px;     
    }

    .prev_btn, .next_btn{
        top:55%;
    }

    .prev_btn {
        left:4rem;
    }

    .next_btn {
        right:1rem;
    }

    /*STYLE DES THEMES*/

    /*Contenu des thèmes*/
    .church_name span{
        font-size: 7rem;
    }

    .develop_btn{
        margin-top:40px;
        font-size: 2rem;
    }
        
    .theme.third h2{
        font-size:6rem;
    }

    .theme.fourth h2{
        font-size:6rem;
        text-align:center;
        color:#ffffff;
    }

    /*Stylisation des Guides*/

    .guides div{
        width: 340px;
        height:420px;
    }
    
    .guides h3{
        font-size:5rem;
    }

    /* Fin de la stylisation des guides*/

    /* ------- FIN DU CORPS DE LA PAGE ------

    /* -------- PIEDS DE PAGE ----*/

    .church_contacts{
        font-size:2rem;
    }

    .communities{
        flex-wrap:wrap;
    }

    .communities div{
        width:100%;
        font-size:2.5rem;
    }

    .community h5{
        font-size:2rem;  
    }

    .community .phone_number{
        font-size:2rem;
    }

    
    /* STYLISATION DU SIDE MENU */
    .input_control input{
        font-size:2.5rem; 
    }

    .menu_links a{
        font-size:2.5rem;
    }

    .small_guides_title{
        font-size:2.5rem;
    }

    .small_guides h4{
        font-size:2.5rem;
    }

    .select_control p{
        font-size:2.6rem;
    }

    .languages{
        font-size:2.6rem;
    }

    .menu_links.other_menus a{
        font-size:2.5rem;
    }

    .follow_us_to{
        font-size:2.5rem;
    }


    /* PAGE 2 - MEDIAS ############################### */

    .main_media_container{
        margin-top:100px;
        height:auto;
    }

    .up_media h2{
        font-size:3rem;
    }

    .up_media_container, .down_media{
        width: 100%;
        height:45%;
        overflow-x: scroll;
    }


    /* PAGE 3 - CALENDRIER ############################### */
 
   .card_wrapper *{
       font-size:3rem;
   }
   

   .hour sup{
       font-size:1rem;
   }
   
   .activity{
       font-family:"Montserrat Light";
       font-size:3.5rem;
   }
   
    /* PAGE 4 - A PROPOS ############################### */
    .about_us_content{
        margin-top:120px;
    }

  
    section{
        padding:10px 0px;
    }

    section:nth-child(odd){
        flex-direction: column-reverse;
    }


    .text{
        width:80%;
    }

    .text *{
        margin-bottom:16px;
    }

    .text h2{
        margin-top:10px;
    }

    .aside_box{
        height:280px;
        width:83%;
        border-radius:10px;
    }

    .aside_box:not(.aside_box.sec0){
        height:180px;
    }

    .orig, .visio, .missio, .messa{
        font-size:3.5rem;
        margin-top:unset;
    }

    /*Section 0*/
 

    .g_line{
        height:3px;
        border-radius:3px;
    }
    .g_line.n1{
        margin-bottom:8px;
    } 

    .g_line.n2{
        margin-top:8px;
    } 
 
    /*Section 1*/

    .etiquette{
        height:60px;
    }

    .etiquette._1,  .etiquette._3{
        top:-42px;
        left:200px;
    }

    /*Section 2*/

    .etiquette._2, .etiquette._4{
        top:-50px;
    }


    /* STYLISATION DES THEMES (UN FICHIER PAR THEME)*/

    .developpement{
        flex-direction: column;

    }

    .theme_side{
        font-size: 2rem;
        height:unset;
        margin:10px 15px;
        width: 90%;
        text-align: center;
    }

    .developpement p{
        padding:0 22px 0px 22px;
        margin:0px 0px 0px 0;
        font-family: "Montserrat Light", sans-serif;
        font-size:2.5rem;
        line-height: 1.5;
        text-align:justify;
        color:#f1f1f1;
    }

    p.lien{
        font-size:2.5rem;
        text-align:right;
        margin-bottom:10px;
    }

    /* PETITS THEMES*/

    .small_theme{
        width:280px;
    }

    .small_theme h1{
        font-size:4rem;
    }

    .small_theme a{
        font-size:3rem;
    }


@media all and (max-width : 392px){

    html{
        font-size:39.5%;
    }
