

// HEADER > Hero 

.about_header{
    height:10vh;

}

// ASIDE CONTENT

// +--------------------------------------------------+
// |                                                  |
// | Menu latéral                                     |
// |                                                  |
// +--------------------------------------------------+

.aside_menu{
    @include flex_center(column);
    
    align-items: flex-start;
    width:240px;
    height:400px;
    padding:3rem;
    background-color:$accent_color;
    border-top-right-radius:100%;
    border-bottom-right-radius:30%;

    position:fixed;
    top:50%;
    transform: translateY(-50%);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
   
    @media screen and (max-width: 1024px) {
        display:none;
    }

    a{  
        font-family: $normal;
        font-weight: 400;
        font-size:2rem;
        color:#000;
        padding:1rem 0;
        transition: margin $tr_duration;

        &:hover{
            font-weight: 300;
            color:$primary_color;
            margin-left:.5rem;
        }
    }
}

.deco-line{
    width:30%;
    height:6px;
    border-radius:3px;
    background-color: rgb(0, 0, 0);
    margin:2rem 0;
}

// MAIN CONTENT

// +--------------------------------------------------+
// |                                                  |
// | Général                                          |
// |                                                  |
// +--------------------------------------------------+

.about_container{
    @include flex_center(column);
    
    @media screen and (max-width: 1336px) {
        align-items:flex-end;
    }
}

.about{
    align-items: flex-start;
    width:65%;

    @media screen and (max-width: 1336px) {
        width:80%;
    }

    @media screen and (max-width: 1024px) {
        width:100%;
    }
  
    &__title{
        font-weight:300;
        color:$primary_color;
    }

    &__subtitle{
        font-family: $title;
        padding:2rem 0;
    }

    &__description{
        font-weight: 600;
        font-size: fontSize("title_2");
    }
}

.about:nth-child(odd){
    background-color: lighten($accent_color, 13);
}

.about:nth-child(even){
    background-color: lighten($secondary_color, 13);
}

// +--------------------------------------------------+
// |                                                  |
// | Resumé                                           |
// |                                                  |
// +--------------------------------------------------+

.resume{
    width:100%;
    border: 2px solid;
    border-radius:12px;
    padding:0rem 0;
    margin:1rem 0;
    font-weight:300;

    @include breakpoint(mobile){
        border-radius: 6px;
    }

    @include flex_center();
    justify-content: flex-start;

    span{
        padding:1rem;
        display: block;

        .bible_ref{
            font-style: italic;
        }
    }

    span:first-of-type{
        background-color:$secondary_color;
        color:#fff;
        border-top-left-radius:8px;
        border-bottom-left-radius:8px;
        font-weight:400;

        @include breakpoint(mobile){
            border-top-left-radius:4px;
        border-bottom-left-radius:4px;
        }
    }
}

.resume.vision{
    background-color:lighten(#01b7ff, 20);
    border-color:#01b7ff;

    span:nth-child(1){
        background-color:#01b7ff;
    }
}

.resume.mission{
    background-color:lighten(#ffa806, 20);
    border-color:#ffa806;

    span:nth-child(1){
        background-color:#ffa806;
    }
}

.resume.message{
    background-color:lighten($primary_color, 20);
    border-color:$primary_color;
    
    span:nth-child(1){
        background-color:$primary_color;
    }
}