

// HEADER > Hero 

.editorial_header{
    height:40vh;
    background-color: $primary_color;

    @media screen and (max-width: 1024px){
        height:50vh;
    }

    @include breakpoint(mobile){
        height:60vh;
    }

    .title{
        color:#fff;
    }
    
    .description{
        font-family: $title;
        color:$accent_color;
    }
}

// +--------------------------------------------------+
// |                                                  |
// | Contenu principal                                |
// |                                                  |
// +--------------------------------------------------+

.main_content{
    @include flex_center(column);
    background-color: #fff;

    p, li{
        line-height: 1.5;
        font-family: $normal;
        font-size:fontSize("normal");

        span{
            font-weight:600;
        }
    }

    ul{
        list-style-type: disc;
        width:80%;
        align-self: center;
    }

    a{
        color:rgb(0, 110, 255);
    }

    .content{
        align-items: flex-start;
        max-width:1000px;
    }

    .title{
        font-weight: 300;
        text-align: left;
    }

    h3{
        font-family:$title;
    }
}