

header{
    background-image:url(/images/praying.jpg);
    
    @include fit_background;

    @include breakpoint("tablet"){
        background-position:90% 20vh;
        
    }

    .logo_container img{
        width:15%;
        min-width: 50px;;
    }   
    
    .nav{
        @include flex_center();
        z-index: 10000;

        @include breakpoint("tablet"){

            @include flex_center(column);
            
            background-color: rgba(255, 255, 255, 0.95);
            width: 100%;
            height:90vh;
            border-top-left-radius: 100%;
            border-bottom-left-radius: 100%;
            position:absolute;
            top:10vh;
            right:0;
            
            
            transform: translateX(100%) scale(0);
            transition: transform $tr_duration;

            &--show{
                border-radius:0;
                transform: translateX(0);
                z-index:10000; 
            }
        }

        li{
            @include flex-center();
        }

        &__link{
            color:#000;
            margin:0 20px;
            font-family: $title;
            font-size: fontSize("normal");
            font-weight:300;
            transition: color $tr_duration ease-out;
            position:relative;

            @include breakpoint("tablet"){
                margin:20px 0;
                font-size:fontSize("title_2");
            }
            
            &::after{
                @include link_after();
            }

            &:hover{
                color:$primary_color;
            }

            &:hover::after{
                width:100%;
            }
    
            &--active{
                color:$primary_color;
                font-weight: 700;
            } 

            &.btn::after{
                display:none;
            }
        }

    }

    i.humburger{
        font-size:30px;
        color:$primary_color;
        display: none;
        
        @include breakpoint("tablet"){
            display:block;
        }
    
    }
    
    .org_name{
        color:$secondary_color;
        font-size:fontSize("title_2");
        font-weight: 400;
        width: 60%;

        @include breakpoint("mobile"){
            width: 100%;
        }
    }
    
    .slogan{
        color:$primary_color;
        width: 60%;
        margin: 2% 0 3%;

        @include breakpoint("mobile"){
            width:100%;
            text-shadow:2px 2px 2px $accent_color;
        }
    }
}











.plan_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:60%;
    max-width:700px;  
    margin:20px;

    @include breakpoint("laptop"){
        max-width: unset;
        margin: 0;
        width:100%;
    }

    @include breakpoint("mobile"){
        max-width: unset;
        margin: 0;
        width:100%;
        gap:16px;

    }

    .content{
        width:50%;
        min-width: 260px;
        max-width:320px;
        padding:12px;

        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        @include breakpoint("mobile"){
            min-width: unset;
            max-width: unset;
            width:100%;
            border-radius:6px;

            .btn{
                width:80%;
                align-self: center;
            }
        }
       
        &:nth-child(1){
            background: linear-gradient(90deg, rgba(255,255,255,0) 40%, lighten($secondary_color, 40) 40%);
            position:relative;
            top:-16px;
            left:-16px;
            z-index: 0;

            @include breakpoint("mobile"){
                position:unset;
            }

            h3{
                transform: translateX(-16px);
                color:$primary_color;
                width:110%;
                font-family: $title;

                @include breakpoint("mobile"){
                    transform:unset;
                    width:100%;
                }
            }
        }

        &:nth-child(4){
            background-image: linear-gradient(90deg,lighten($secondary_color, 40) 95%, rgba(255,255,255,0) 95%);
            position:relative;
            bottom:-16px;
            left:16px;
            z-index: 0;

            @include breakpoint("mobile"){
                position:unset;
                width:100%;
                background:lighten($secondary_color, 40);
              
            }
        }

        &:nth-child(2){
            background-color: lighten(#2cb2ff, 20);
        }

        &:nth-child(3){
            background-color: $accent_color;
        }
    }   
<<<<<<< HEAD
}















// Section 2 : Pourquoi suivre nos enseignements ?
.section_2{
    background: linear-gradient(180deg, $primary_color 32%, #fff 32%);

    .title{
        color:#fff;
    }

    .description{
        color:$accent_color;
    }
}

.cards_container{

    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:32px;
    margin:20px 0 30px;

    .card{
        border-radius:8px;
        max-width:260px;
        min-height:280px;
        padding: 5%;
        position:relative;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
  
        &--title{
            font-family:$title;
        }

        &--subtitle{
            font-weight:700;
        }

        hr{
            position: absolute;
            right:0;
            top:31%;
            height:3px;
            width:40%;
        }

        &:nth-child(1){
            @include card_color(#01b7ff);
        }
        &:nth-child(2){
            @include card_color(#ffa806);
        }
        &:nth-child(3){
            @include card_color($primary_color);
        }
    }
}


.container__reason_why{
    @include flex_center();
    margin:$main_margin 0;
    
    div:first-child{
        width:60%;
    }

    h2{
        font-size: fontSize("heading");

        span:nth-child(odd){
            color:$primary_color;
        }

        span:nth-child(4){
            display: block;
            font-size:fontSize("title_2");
            font-family: $title;
            font-weight: 300;
            margin: $main_margin 0;

        }
    }
}


.bible{
    border: 2px solid #000;
    height:280px;
    box-sizing:content-box;
    
    img{
        height:280px;
        transform: translate(24px, -24px);
    }
}
=======
}   
>>>>>>> parent of b2973ee (Section deuxième pour la page d'accueil)
