

// HEADER > Hero 
.medias_header{
    background-color: lighten($accent-color, 10);

    @include breakpoint(tablet){
        height:50vh;
    }


    .hero .title{
        width:60%;

        @include breakpoint(tablet){
            width:100%;
        }

    }
}

//Section première
.event{
    background-color:lighten($secondary_color, 10);
    display: grid;
    grid-template-rows: 3;
    position:relative;

    &__title{
        color:$primary_color;
        font-family: $title;
    }

    &__subtitle{
        span{
            color:darken($secondary_color,20);
            font-size:1.6rem;
        }
    }
}

.wrapper{
    @include flex_center();
    align-items: flex-start;
    justify-content: flex-start;
    gap:1.5rem;

    @include breakpoint(tablet){
        flex-wrap: wrap;
    }

    @include breakpoint(mobile){
        justify-content: center;
    }
    
    .container{
        @include flex_center(column);
        // justify-content: space-between;
        gap:2rem;
    }
}

.item{
    width:100%;
    min-width: 180px;
    max-width:300px;
    position:relative;

    @include breakpoint(tablet){
        min-width: unset;
        max-width: 220px;
    }

    @include breakpoint(mobile){
        max-width: 43vw;
    }

    &__thumb{
        width:100%;
        max-height:400px;
        object-fit:cover;
    }

    &__legend{
        font-size: 1.5rem;
        width:100%;
        padding:1rem;
        color:#fff;
        background-color:rgba(0,0,0,.5);
        position:absolute;
        bottom:0;
    }
}




// Fenêtre modale



.modal-container{
    visibility:hidden;
    transition: visibility .4s;

    .overlay{
        opacity: 0;
        width:100vw;
        height:100%;
        background-color: #333333d3;
        position:absolute;
        top:0;
        left:0;
        z-index:10000;
        transition: opacity .4s .2s ease-out;
    }

    .modal{
        opacity: 0;
        width:90vw;
        max-width: 800px;
        height:500px;
        background-color:#fff;
        border:10px solid #fff;

        position:absolute;
        top:30%;
        left:50%;
        transform: translate(-50%, calc(-50% - 50px));
        z-index:10000;
        transition:opacity .4s ease-out,
                    transform .4s;
    }
}


.modal-container.active{
    visibility: visible;
  
    .overlay{
        opacity:1;
        transition: opacity .4s ease-out;
    }

    .modal{
        opacity:1;
        transform: translate(-50%, -50%);
        transition: opacity .4s .2s ease-out,
                    transform .4s;

    }
    
}

.modal{

    .item_thumb{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .item__legend{
        text-align: center;
        font-size: 2rem;
    }

    .bi{
        font-size: 3.8rem;
        display:block;
        position:absolute;
        bottom:0;
        color:#fff;
        cursor:pointer;
        display:none;

        &.left-arrow{
            left:5px;
        }

        &.right-arrow{
            right:5px;
        }
    }
}