
@mixin breakpoint($device){
    @media screen and (max-width:map-get($breakpoints, $device)){
        @content;
    }
}

@mixin fit_background{
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

@mixin link_after($bg-color : $primary_color){
    // Créer un effet de surlignage lors du survol sur un menu de navigation
  
    content:"";
    background-color:$bg-color;
    width:0%;
    height:3px;
    position:absolute;
    left:0;
    bottom:-4px;
    transition: width $tr_duration ease-out;
}

@mixin flex_center($direction : row){
    // Center les éléments enfants contenus dans le parent qui reçoit cette mixin. 

    display:flex;
    flex-direction:$direction;
    justify-content: center;
    align-items: center;
}


@mixin card_color($color){
    // Appliquqe la couleur assée en paramètre aux éléments ci-dessous spécifiés, que comporte chacune des cartes de la page d'accueil (Vision-Mission-Message).

    background: linear-gradient(180deg, $secondary_color 85%, $color 85%);

    .card--title{
        color:$color;
    }

    hr{
        background-color:$color;
    }
}

@mixin line_after(){
    // Dans la section "Notre Communauté" de la page d'accueil, crée une ligne en dessous du nom du représentant de chaque communauté.
    
    &::after{
        content:"";
        display:block;
        width:40%;
        height:2px;
        margin-top:.3rem;
        background:$primary_color;
    }
}

@mixin backgound_filter($height:100vh) {
    // Ajoute un filtre blanchâtre sur au dessus d'une image servant de background pour améliorer le contraste.
    // Utilisé surtout dans la résolution d'un téléphone mobile.

    &::before{
        content:"";
        display:block;
        width:100%;
        height:$height;
        background-color: rgba(255, 255, 255, 0.5);
        position:absolute;
        top:0;
        left:0;
        z-index:0;
    }
}