

// VARS

// Colors
$primary_color:#0e874c;
$secondary_color:#707070;
$accent_color:#faf6af;


// Fonts
$title:"Ubuntu", sans-serif;
$normal:"Roboto", sans-serif;


// Margins
$main_margin:5%;


// Durations
$tr_duration : .3s;


// LISTS & MAPS

//Font size
$font_size:(
    heading: 8rem,
    title_1: 5.8rem,
    title_2: 3.4rem,
    normal: 2.4rem,
);

// Breakpoints
$breakpoints: (
    mobile: 480px,
    tablet: 768px,
    laptop: 978px,
    desktop: 1024px
    );

